<h1>Incident Report</h1>
<%= form_for @incident_form, url: (@incident_form.bike.new_record? ? report_stolen_path : report_stolen_bikes_path(@incident_form.bike)), html: {class: "form-horizontal"} do |f| %>
  <fieldset class="well">
    <h4>Location Information</h4>
    <div class="form-group">
      <%= f.label "Last seen" %>
      <%= f.datetime_field :last_seen, class: 'form-control' %>
    </div>
    <script type="text/javascript">
      $(function(){
        $('#incident_last_seen').datetimepicker();
      });
    </script>
    <div class="form-group">
      <%= f.label "Last known location" %>
      <%= f.text_field :last_location, class: 'form-control', placeholder: "123 Example St. Town, Vermont 05405" %>
    </div>
  </fieldset>
  <fieldset class="well">
    <h4>Police Report</h4>
    <div class="form-group">
      <%= f.label "Incident report number" %>
      <%= f.text_field :police_incident_number, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label "Reporting officer" %>
      <%= f.text_field :officer_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label "Reporting station" %>
      <%= f.text_field :station, class: 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="well">
    <h4>Bike Information</h4>
    <div class="form-group">
      <label for="select-bike">Bike involved in incident</label>
      <select class="form-control" id="select-bike">
        <option value="register-new">Register New Bike</option>
        <option value="bike-1">Example Bike 1</option>
        <option value="bike-2">Example Bike 2</option>
      </select>
    </div>
  </fieldset>
<% end %>
