
<%= form_for(@registration_form) do |f| %>
  <% if @registration_form.errors.any? %>
    <ul>
      <% @registration_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Register" %>
<% end %>
