<%= form_for @bike, html: {class: "form-horizontal well"} do |f| %>
  <div class="form-group">
    <%= f.label "Serial Number", class: "col-lg-4 control-label" %>
    <div class="controls col-lg-8">
      <%= f.text_field :serial, class: "form-control", placeholder: "Serial number" %>
    </div>
  </div>
  <img class="img-responsive" src="/assets/serial-guide.png" alt="Serial Guide" style="margin-bottom: 15px;">
  <div class="form-group">
    <%= f.label "Frame Make", class: "col-lg-4 control-label" %>
    <div class="controls col-lg-8">
      <%= f.text_field :frame_make, class: "form-control", placeholder: "Frame make" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Frame Model", class: "col-lg-4 control-label" %>
    <div class="controls col-lg-8">
      <%= f.text_field :frame_model, class: "form-control", placeholder: "Frame model" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Color", class: "col-lg-4 control-label" %>
    <div class="controls col-lg-8">
      <%= f.text_field :color, class: "form-control", placeholder: "Color" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Description", class: "col-lg-4 control-label" %>
    <div class="controls col-lg-8">
      <%= f.text_area :description, rows: "5", class: "form-control", placeholder: "Description" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-4">
      <%= f.submit 'Save Bike', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
