<table class="table">
  <thead>
    <tr>
      <th width="80">Status</th>
      <th width="20%">Make/Model</th>
      <th width="10%">Color</th>
      <th width="15%">Serial #</th>
      <th>Description</th>
      <th width="180"></th>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td>
          <%= bike.status.capitalize %>
        </td>
        <td>
          <%= bike.frame_make %> / <%= bike.frame_model %>
        </td>
        <td>
          <%= bike.color %>
        </td>
        <td>
          <%= bike.serial %>
        </td>
        <td>
          <%= bike.description %>
        </td>
        <td>
          <%= link_to "Report Stolen", report_stolen_bike_path(bike), class: "btn btn-xs btn-danger" %>
          <%= link_to raw("<i class='glyphicon glyphicon-edit'></i>"), edit_bike_path(bike), class:"btn btn-xs btn-default", title:"Edit bike" %>
          <%= link_to raw("<i class='glyphicon glyphicon-trash'></i>"), bike_path(bike), class:"btn btn-xs btn-warning", title:"Remove bike", data: {confirm: "Are you sure?"}, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
