<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-offset-md-2 col-sm-8 col-sm-offset-2 col-12">
    <div class="bike-detail row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12 bike-actions">
         <% if current_user && @bike.user == current_user %>
          <% if @bike.status == "stolen" %>
          <div class="status <%= @bike.status %>">
            <i class="icon icon-warning-sign"></i>
            Bike reported <%= @bike.status %><br>
            <p>
              <%= link_to "Report Returned", report_returned_bike_path(@bike), class: "btn btn-block btn-success" %>
              <%= link_to "Search Craigslist", craigslist_bike_path(@bike), class: "btn btn-block btn-warning" %>
            </p>
          </div>
          <% else %>
          <div class="status ok">
            <i class="icon icon-ok"></i>
            Bike ok<br>
            <p>
              <%= link_to "Report Stolen", report_stolen_bike_path(@bike), class: "btn btn-block btn-danger" %>
            </p>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-12">
        <div class="bike-header">
          <h2>
            <span>Make/Model</span>
            <%= @bike.frame_make %> <%= @bike.frame_model %>
          </h2>
          <h2>
            <span class="serial">Serial Number</span>
            <%= @bike.serial %>
          </h2>
        </div>
        <div class="bike-attributes">
          <p>
            <strong>Color</strong><br>
            <%= @bike.color %>
          </p>
          <p>
            <strong>Description</strong><br>
            <%= @bike.description %>
          </p>
          <p>
            <strong>Owner Name</strong><br>
            <%= @bike.user.first_name %> <%= @bike.user.last_name %>
          </p>
          <p>
            <strong>Owner Email</strong><br>
            <%= @bike.user.email %>
          </p>
        </div>
        <div class="bike-actions">
          <% if current_user && @bike.user == current_user %>
            <%= link_to raw("<i class='icon icon-edit'></i> Edit Bike"), edit_bike_path(@bike), class:"btn btn-block btn-default", title:"Edit bike" %>
            <%= link_to raw("<i class='icon icon-qrcode'></i> Print QR Code"), qr_bike_path(@bike), class:"btn btn-block btn-default", title:"Print QR Code" %>
            <%= link_to raw("<i class='icon icon-exchange'></i> Transfer Bike"), transfer_bike_path(@bike), class:"btn btn-block btn-warning", title:"Transfer bike" %>
            <%= link_to raw("<i class='icon icon-trash'></i> Remove Bike"), bike_path(@bike), class:"btn btn-block btn-warning", title:"Remove bike", data: {confirm: "Are you sure?"}, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>