<header>
<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Safe Spokes VT</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Register a Bicycle", new_bike_path %></li>
      <li><%= link_to "Report Incident", "#TODO" %></li>
      <li><%= link_to "Search by Serial", search_bikes_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li><%= link_to "My Bikes", bikes_path %></li>
      <li> <%= link_to "Logout", logout_path %> </li>
      <% else  %>
      <li> <%= link_to "Login", login_path %> </li>
      <% end%>
    </ul>
  </div>
</div>
</header>
